span {
  display: inline-block;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: #22343d;
  font-weight: 400;
}
a:hover {
  -webkit-text-decoration: under line;
          text-decoration: under line;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.flex-class {
  display: flex;
}

.grid-class {
  display: grid;
}

.selected {
  font-weight: 700;
  color: #22343d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Rubik", sans-serif;
}

a {
  font-family: "Rubik", sans-serif;
}

p {
  font-family: "Rubik", sans-serif;
}

header {
  padding-top: 20px;
  margin-bottom: 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  background-color: #fff;
  padding-bottom: 20px;
}
header nav {
  display: flex;
}
header nav .logo {
  padding-top: 10px;
  margin-right: 40px;
}
header nav .nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .nav-items form {
  position: relative;
  margin-right: 40px;
}
header nav .nav-items form input {
  padding: 8px;
  height: 40px;
  outline: none;
  width: 360px;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  background: var(--main-surface, #fff);
  font-family: "Rubik", sans-serif;
}
header nav .nav-items form .res-imge {
  position: absolute;
  top: 17%;
  right: 8px;
}
header nav .nav-items button {
  display: flex;
  width: 140px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: var(--main-secondary, #70c05b);
  padding: 0px 8px 0px 8px;
  color: white;
  border: none;
  margin-right: 16px;
  padding: 8px;
  font-family: "Rubik", sans-serif;
}
header nav .nav-items .nav-links {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  margin-right: 24px;
}
header nav .nav-items .nav-links .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}
header nav .nav-items .nav-links .nav-link a {
  text-align: center;
  text-decoration: none;
  color: var(--main-on-surface, #414141);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  font-family: "Rubik", sans-serif;
}
header nav .nav-items .nav-links .nav-link a img {
  width: 26px;
  height: 26px;
}
header nav .nav-items .nav-person {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
header nav .nav-items .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(252, 213, 186, 0.8);
}
header nav .nav-items .modal .modal-content {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 420px;
  height: 432px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
}
header nav .nav-items .modal .modal-content .modal-item1 {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 4px;
  background: var(--grayscale-lightest, #f3f2f1);
  display: flex;
  width: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
header nav .nav-items .modal .modal-content .modal-item2 {
  margin-top: 72px;
  font-family: "Rubik", sans-serif;
}
header nav .nav-items .modal .modal-content .modal-item3 {
  display: flex;
  flex-direction: column;
}
header nav .nav-items .modal .modal-content .modal-item3 h2 {
  color: var(--grayscale-hard, #8f8f8f);
  font-family: "Rubik", sans-serif;
  /* Desc/Text/M */
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
header nav .nav-items .modal .modal-content .modal-item3 .input-item {
  display: flex;
  flex-direction: row;
}
header nav .nav-items .modal .modal-content .modal-item3 .input-item h3 {
  font-family: "Rubik", sans-serif;
  color: var(--main-on-surface, #414141);
  margin-right: 8px;
  /* Desc/Text/L */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
}
header nav .nav-items .modal .modal-content .modal-item3 .input-item input {
  font-family: "Rubik", sans-serif;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  background: var(--main-surface, #fff);
  color: var(--main-on-surface, #414141);
  width: 156px;
  /* Desc/Text/L */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  /* Secondary / M */
  box-shadow: 4px 8px 16px 0px rgba(112, 192, 91, 0.2);
}
header nav .nav-items .modal .modal-content .modal-item4 a {
  display: flex;
  width: 260px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--main-primary, #f63);
  text-align: center;
  /* Desc/Text/L */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  border-radius: 4px;
  background: var(--main-primary-muted, #fcd5ba);
}
header nav .nav-items .modal .modal-content .modal-item5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
  margin-bottom: 40px;
}
header nav .nav-items .modal .modal-content .modal-item5 a {
  text-decoration: none;
  display: flex;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  text-align: center;
  display: flex;
  width: 121px;
  height: 32px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  /* Desc/Text/XS */
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
header nav .nav-items .modal .modal-content .modal-item5 a:first-child {
  color: var(--main-secondary, #70c05b);
}
header nav .nav-items .modal.open {
  display: flex;
}
header .catalog {
  width: 100%;
  margin-left: -135px;
  position: absolute;
  top: -128%;
  opacity: 0%;
  z-index: -10;
  background-color: #fff;
  padding-top: 40px;
  padding-left: 20px;
  transition: 0.2s linear;
  padding-bottom: 30px;
  grid-template-columns: auto auto auto auto;
}
header .catalog ul li {
  margin-top: 20px;
  font-family: "Rubik", sans-serif;
}
header .catalog ul li a {
  font-weight: 900;
  font-family: "Rubik", sans-serif;
}
header .catalog ul .redtext {
  color: red;
}

.animation-class {
  width: 100% !important;
  transition: 0.2s linear;
  opacity: 100% !important;
  top: 80% !important;
  z-index: 10;
}

@media (max-width: 1237.6px) {
  header .catalog {
    margin-left: -20px;
  }
}
footer {
  background: var(--main-bg-page, rgba(219, 178, 15, 0.3843137255));
  padding-top: 24px;
}
footer .big-div {
  display: flex;
  align-items: center;
}
footer .big-div .footer-links {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
footer .big-div .footer-links a {
  color: var(--main-on-surface, #414141);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}
footer .big-div .footer-links a:hover {
  color: black;
}
footer .big-div .icons {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin-left: 100px;
}
footer .big-div .tel {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin-left: 40px;
}
footer .last-footer {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  justify-content: end;
  margin-top: 30px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Rubik", sans-serif;
}

a {
  font-family: "Rubik", sans-serif;
}

p {
  font-family: "Rubik", sans-serif;
}

main {
  padding-top: 93px;
}
main .background-img {
  width: 100%;
  height: 200px;
}
main .hero-section .hero-content {
  display: flex;
  align-items: center;
  margin-top: -200px;
  -moz-column-gap: 18px;
       column-gap: 18px;
  margin-left: 60px;
}
main .hero-section .hero-content h1 {
  color: var(--main-on-surface, #414141);
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;
}
main .pages-on_off-bottoms {
  background: var(--main-bg-page, #fbf8ec);
}
main .pages-on_off-bottoms .on-off {
  padding-top: 23px;
  padding-bottom: 23px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 7px;
  justify-content: start;
}
main .aktsiya {
  padding-top: 40px;
  background: var(--main-bg-page, #fbf8ec);
  padding-bottom: 120px;
}
main .aktsiya .par {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
main .aktsiya .par button {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  background-color: transparent;
  border: none;
}
main .aktsiya .par button:hover {
  cursor: pointer;
}
main .aktsiya .par h1 {
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
}
main .aktsiya .cards {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
main .aktsiya .cards .card {
  width: 272px;
  height: 354px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.2s;
  border-radius: 4px;
  background: var(--main-surface, #fff);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
main .aktsiya .cards .card:hover {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.4);
}
main .aktsiya .cards .card .card-img {
  position: relative;
}
main .aktsiya .cards .card .card-img .big-img {
  height: 160px;
}
main .aktsiya .cards .card .card-img .chegirma {
  position: absolute;
  top: 127px;
  left: 13px;
}
main .aktsiya .cards .card .card-img .like {
  position: absolute;
  border-radius: 4px;
  opacity: 0.5;
  z-index: 99;
  height: 32px;
  width: 32px;
  background: var(--grayscale-lightest, #f3f2f1);
  border: none;
  top: 11px;
  right: 10px;
}
main .aktsiya .cards .card .card-img .like:hover {
  cursor: pointer;
}
main .aktsiya .cards .card .card-content {
  display: flex;
  flex-direction: column;
}
main .aktsiya .cards .card .card-content .content1 {
  display: flex;
  -moz-column-gap: 134px;
       column-gap: 134px;
}
main .aktsiya .cards .card .card-content .content1 h2 {
  color: var(--main-on-surface, #414141);
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}
main .aktsiya .cards .card .card-content .content1 h3 {
  color: var(--grayscale-hardest, #606060);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
main .aktsiya .cards .card .card-content .content2 {
  display: flex;
  -moz-column-gap: 142px;
       column-gap: 142px;
  margin-bottom: 10px;
}
main .aktsiya .cards .card .card-content .content2 p {
  color: var(--grayscale-light, #bfbfbf);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}
main .aktsiya .cards .card .card-content .content3 {
  color: var(--main-on-surface, #414141);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
main .aktsiya .cards .card .card-content .content3 p {
  width: 256px;
}
main .aktsiya .cards .card .card-content .stars {
  display: flex;
  -moz-column-gap: 3px;
       column-gap: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}
main .aktsiya .cards .card .card-content .stars button {
  background-color: transparent;
  border: none;
}
main .aktsiya .cards .card .card-content .stars button:hover {
  cursor: pointer;
}
main .aktsiya .cards .card .card-content .big-btn button {
  color: var(--main-secondary, #70c05b);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  background-color: transparent;
  padding: 4px 90px 4px 90px;
  margin-left: 5px;
  margin-bottom: 8px;
  transition: 0.2s;
}
main .aktsiya .cards .card .card-content .big-btn button:hover {
  color: var(--main-on-primary, #fff);
  background: var(--main-primary, #f63);
  cursor: pointer;
}
main .third-section {
  background: var(--main-bg-page, #fbf8ec);
  padding-bottom: 120px;
}
main .third-section .par {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
main .third-section .par button {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  background-color: transparent;
  border: none;
}
main .third-section .par button:hover {
  cursor: pointer;
}
main .third-section .par h1 {
  font-family: "Rubik", sans-serif;
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
}
main .third-section .cards {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
main .third-section .cards .card {
  width: 272px;
  height: 354px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.2s;
  border-radius: 4px;
  background: var(--main-surface, #fff);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
main .third-section .cards .card:hover {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.4);
}
main .third-section .cards .card .card-img {
  position: relative;
}
main .third-section .cards .card .card-img .big-img {
  height: 160px;
}
main .third-section .cards .card .card-img .like {
  position: absolute;
  border-radius: 4px;
  opacity: 0.5;
  z-index: 99;
  height: 32px;
  width: 32px;
  background: var(--grayscale-lightest, #f3f2f1);
  border: none;
  top: 11px;
  right: 10px;
}
main .third-section .cards .card .card-img .like:hover {
  cursor: pointer;
}
main .third-section .cards .card .card-content {
  display: flex;
  flex-direction: column;
}
main .third-section .cards .card .card-content .content1 {
  margin-top: 5px;
  margin-bottom: 26px;
}
main .third-section .cards .card .card-content .content1 h2 {
  color: var(--main-on-surface, #414141);
  /* Desc/Text-Bold/M */
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
main .third-section .cards .card .card-content .content3 {
  color: var(--main-on-surface, #414141);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
main .third-section .cards .card .card-content .stars {
  display: flex;
  -moz-column-gap: 3px;
       column-gap: 3px;
  margin-top: 8px;
  margin-bottom: 8px;
}
main .third-section .cards .card .card-content .stars button {
  font-family: "Rubik", sans-serif;
  background-color: transparent;
  border: none;
}
main .third-section .cards .card .card-content .stars button:hover {
  cursor: pointer;
}
main .third-section .cards .card .card-content .big-btn button {
  color: var(--main-secondary, #70c05b);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  background-color: transparent;
  padding: 4px 90px 4px 90px;
  margin-left: 5px;
  margin-bottom: 8px;
  transition: 0.2s;
}
main .third-section .cards .card .card-content .big-btn button:hover {
  color: var(--main-on-primary, #fff);
  background: var(--main-primary, #f63);
  cursor: pointer;
}
main .fourth-section {
  background: var(--main-bg-page, #fbf8ec);
  padding-bottom: 120px;
}
main .fourth-section .par {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
main .fourth-section .par button {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  background-color: transparent;
  border: none;
}
main .fourth-section .par button:hover {
  cursor: pointer;
}
main .fourth-section .par h1 {
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
}
main .fourth-section .cards {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
main .fourth-section .cards .card {
  border-radius: 4px;
  background: var(--main-surface, #fff);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  width: 272px;
  height: 354px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  padding: 5px;
}
main .fourth-section .cards .card:hover {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.4);
}
main .fourth-section .cards .card .card-img .big-img {
  height: 160px;
}
main .fourth-section .cards .card .card-img .like {
  position: absolute;
  border-radius: 4px;
  opacity: 0.5;
  z-index: 99;
  height: 32px;
  width: 32px;
  background: var(--grayscale-lightest, #f3f2f1);
  border: none;
  top: 11px;
  right: 10px;
}
main .fourth-section .cards .card .card-img .like:hover {
  cursor: pointer;
}
main .fourth-section .cards .card .card-content {
  display: flex;
  flex-direction: column;
}
main .fourth-section .cards .card .card-content .content1 {
  margin-top: 5px;
  margin-bottom: 26px;
}
main .fourth-section .cards .card .card-content .content1 h2 {
  color: var(--main-on-surface, #414141);
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  font-family: "Rubik", sans-serif;
}
main .fourth-section .cards .card .card-content .content3 {
  color: var(--main-on-surface, #414141);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
main .fourth-section .cards .card .card-content .stars {
  display: flex;
  -moz-column-gap: 3px;
       column-gap: 3px;
  font-family: "Rubik", sans-serif;
  margin-top: 8px;
  margin-bottom: 8px;
}
main .fourth-section .cards .card .card-content .stars button {
  background-color: transparent;
  border: none;
}
main .fourth-section .cards .card .card-content .stars button:hover {
  cursor: pointer;
}
main .fourth-section .cards .card .card-content .big-btn button {
  color: var(--main-secondary, #70c05b);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  background-color: transparent;
  padding: 4px 90px 4px 90px;
  margin-left: 5px;
  margin-bottom: 8px;
  transition: 0.2s;
}
main .fourth-section .cards .card .card-content .big-btn button:hover {
  color: var(--main-on-primary, #fff);
  background: var(--main-primary, #f63);
  cursor: pointer;
}
main .fivth-section {
  background: var(--main-bg-page, #fbf8ec);
  padding-bottom: 120px;
}
main .fivth-section .par h1 {
  font-family: "Rubik", sans-serif;
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 40px;
}
main .fivth-section .boxes {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
main .fivth-section .boxes .box {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background: var(--main-primary-muted, #fcd5ba);
  box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
  width: 584px;
  height: 200px;
  transition: 0.2s;
}
main .fivth-section .boxes .box:hover {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.4);
}
main .fivth-section .boxes .box .box-content {
  display: flex;
  align-items: center;
}
main .fivth-section .boxes .box .box-content .left {
  margin-left: 30px;
}
main .fivth-section .boxes .box .box-content .left h2 {
  font-family: "Rubik", sans-serif;
  color: var(--main-on-surface, #414141);
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}
main .fivth-section .boxes .box .box-content .left p {
  color: var(--main-on-surface, #414141);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  width: 258px;
  font-family: "Rubik", sans-serif;
}
main .fivth-section .boxes .box .box-content .right img {
  width: 262.762px;
  height: 196.159px;
}
main .fivth-section .boxes .box .box-content .right .rp {
  width: 176.762px;
  height: 163.159px;
  margin-right: 45px;
}
main .fivth-section .boxes .box2 {
  border-radius: 4px;
  background: var(--main-secondary-muted, #e5ffde);
}
main .location {
  background: var(--main-bg-page, #fbf8ec);
  padding-bottom: 120px;
}
main .location .par {
  margin-bottom: 40px;
}
main .location .par h1 {
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
}
main .location .location-btns {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  margin-bottom: 24px;
}
main .location .location-btns button {
  color: var(--grayscale-hardest, #606060);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  padding: 10px;
  border-radius: 4px;
  background: var(--grayscale-lightest, #f3f2f1);
  border: none;
  width: 86px;
  transition: 0.2s;
}
main .location .location-btns button:hover {
  color: var(--main-on-secondary, #fff);
  background: var(--main-secondary, #70c05b);
  cursor: pointer;
}
main .location .map .ifr {
  width: 100%;
  height: 354px;
}
main .articles {
  background: var(--main-bg-page, #fbf8ec);
  padding-bottom: 80px;
}
main .articles .par {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
main .articles .par button {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  background-color: transparent;
  border: none;
}
main .articles .par button:hover {
  cursor: pointer;
}
main .articles .par h1 {
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
}
main .articles .boxes {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
main .articles .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 4px;
  background: var(--main-surface, #fff);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  width: 376px;
  transition: 0.2s;
}
main .articles .boxes .box:hover {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.4);
}
main .articles .boxes .box .box-img img {
  margin-bottom: 10px;
}
main .articles .boxes .box .box-img .box-content {
  padding: 10px;
}
main .articles .boxes .box .box-img .box-content .con1 {
  color: var(--grayscale-hard, #8f8f8f);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 10px;
}
main .articles .boxes .box .box-img .box-content h4 {
  color: var(--main-on-surface, #414141);
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  /* margin-bottom: 10px; */
  /* width: 300px; */
  height: 60px;
}
main .articles .boxes .box .box-img .box-content .con3 {
  color: var(--main-on-surface, #414141);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 10px;
}
main .articles .boxes .box .box-img .box-content button {
  margin-top: 20px;
  color: var(--main-secondary, #70c05b);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  border-radius: 4px;
  background: var(--main-secondary-muted, #e5ffde);
  padding: 8px;
  border: none;
  width: 150px;
  transition: 0.2s;
}
main .articles .boxes .box .box-img .box-content button:hover {
  color: var(--main-on-secondary, #fff);
  background: var(--main-secondary, #70c05b);
  cursor: pointer;
}

@media (max-width: 768px) {
  header nav .nav-items form input {
    width: 100px;
  }
  header nav .nav-items form .res-imge {
    display: none;
  }
  header nav .nav-items .nav-btn {
    width: 100px;
  }
  header nav .nav-items .nav-links {
    display: flex;
    -moz-column-gap: 8px;
         column-gap: 8px;
    margin-left: -10px;
  }
  header nav .nav-items .nav-person {
    margin-left: -10px;
  }
  header nav .nav-items .nav-person p {
    display: none;
  }
  main .hero-section .background-img {
    width: 900px;
    height: 200px;
  }
  .aktsiya .cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .third-section .cards {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .fourth-section .cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .fivth-section .boxes {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
  }
  .articles .boxes {
    display: flex;
    flex-wrap: wrap;
    width: 376px;
    row-gap: 30px;
  }
  footer .big-div {
    display: flex;
  }
  footer .big-div .footer-links {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  footer .big-div .footer-links .res-fut {
    margin-left: 80px;
  }
}
@media (max-width: 360px) {
  header nav .nav-items .nav-btn {
    display: none;
  }
  header nav .nav-items .nav-links {
    display: none;
  }
  header nav .nav-items .nav-person {
    display: none;
  }
  main .hero-section .background-img {
    width: 485px;
  }
  main .hero-section .hero-content {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }
  main .fivth-section .boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .fivth-section .boxes .box {
    width: 330px;
  }
  main .fivth-section .boxes .box .box-content .left h2 {
    font-size: 16px;
  }
  main .fivth-section .boxes .box .box-content .left p {
    width: 100px;
  }
  main .fivth-section .boxes .box .box-content .right img {
    width: 180px;
  }
  main .location .location-btns {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  main .articles .boxes {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    width: 300px;
  }
  main .articles .boxes .box {
    width: 300px !important;
  }
  main .articles .boxes .box .box-img img {
    width: 300px;
  }
  main .articles .boxes .box .box-img .box-content .con3 {
    width: 200px;
  }
  footer .big-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .big-div .footer-links {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
  }
  footer .big-div .footer-links .logo {
    margin-bottom: -30px;
  }
  footer .big-div .icons {
    margin-left: 0px;
    margin-top: 20px;
  }
  footer .big-div .tel {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.products {
  padding-top: 100px;
}
.products .hero {
  background: var(--main-bg-page, #fbf8ec);
}
.products .hero .par h1 {
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 50px;
  font-family: "Rubik", sans-serif;
}
.products .hero .catalog {
  width: 100%;
  margin-left: -20px;
  position: absolute;
  top: -40%;
  opacity: 0%;
  z-index: -10;
  background-color: #fff;
  padding-top: 40px;
  padding-left: 20px;
  transition: 0.2s linear;
  padding-bottom: 30px;
  grid-template-columns: auto auto auto auto;
}
.products .hero .catalog ul li {
  font-family: "Rubik", sans-serif;
  margin-top: 20px;
}
.products .hero .catalog ul li a {
  font-weight: 900;
  font-family: "Rubik", sans-serif;
}
.products .hero .catalog ul .redtext {
  color: red;
  font-family: "Rubik", sans-serif;
}
.products .hero .cards {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 58px;
  margin-bottom: 64px;
}
.products .hero .cards .card {
  border-radius: 4px;
  background: var(--main-surface, #fff);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  width: 272px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  padding: 5px;
}
.products .hero .cards .card:hover {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.4);
}
.products .hero .cards .card .card-img .big-img {
  height: 160px;
}
.products .hero .cards .card .card-img .like {
  position: absolute;
  border-radius: 4px;
  opacity: 0.5;
  z-index: 99;
  height: 32px;
  width: 32px;
  background: var(--grayscale-lightest, #f3f2f1);
  border: none;
  top: 11px;
  right: 10px;
}
.products .hero .cards .card .card-img .like:hover {
  cursor: pointer;
}
.products .hero .cards .card .card-content {
  display: flex;
  flex-direction: column;
}
.products .hero .cards .card .card-content .content1 {
  margin-top: 5px;
  margin-bottom: 26px;
}
.products .hero .cards .card .card-content .content1 h2 {
  color: var(--main-on-surface, #414141);
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}
.products .hero .cards .card .card-content .content3 {
  color: var(--main-on-surface, #414141);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  font-family: "Rubik", sans-serif;
}
.products .hero .cards .card .card-content .content3 p {
  width: 249px;
  height: 72px;
  font-family: "Rubik", sans-serif;
}
.products .hero .cards .card .card-content .stars {
  display: flex;
  -moz-column-gap: 3px;
       column-gap: 3px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.products .hero .cards .card .card-content .stars button {
  background-color: transparent;
  border: none;
  font-family: "Rubik", sans-serif;
}
.products .hero .cards .card .card-content .stars button:hover {
  cursor: pointer;
}
.products .hero .cards .card .card-content .big-btn button {
  color: var(--main-secondary, #70c05b);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  background-color: transparent;
  padding: 4px 90px 4px 90px;
  margin-left: 5px;
  margin-bottom: 8px;
  transition: 0.2s;
  font-family: "Rubik", sans-serif;
}
.products .hero .cards .card .card-content .big-btn button:hover {
  color: var(--main-on-primary, #fff);
  background: var(--main-primary, #f63);
  cursor: pointer;
}
.products .buttons {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: center;
  justify-content: center;
  padding-bottom: 62px;
}
.products .buttons img {
  transition: 0.2s;
  border-radius: 50%;
}
.products .buttons img:hover {
  background-color: #f63;
  color: white;
  cursor: pointer;
}
.products .btn-11 {
  border-radius: 4px;
  background: #fff;
  padding: 1px 12px 1px 13px;
  color: #000;
  transition: 0.2s;
  border: none;
  color: var(--text-in-field, #ccc);
  text-align: center;
  font-weight: 400;
  line-height: 32px;
  font-family: "Rubik", sans-serif;
}
.products .btn-11:hover {
  background-color: #f63;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  header nav .nav-items form input {
    width: 100px;
  }
  header nav .nav-items form .res-imge {
    display: none;
  }
  header nav .nav-items .nav-btn {
    width: 100px;
  }
  header nav .nav-items .nav-links {
    display: flex;
    -moz-column-gap: 8px;
         column-gap: 8px;
    margin-left: -10px;
  }
  header nav .nav-items .nav-person {
    margin-left: -10px;
  }
  header nav .nav-items .nav-person p {
    display: none;
  }
  footer .big-div {
    display: flex;
  }
  footer .big-div .footer-links {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  footer .big-div .footer-links .res-fut {
    margin-left: 80px;
  }
}
@media (max-width: 360px) {
  header nav .nav-items .nav-btn {
    display: none;
  }
  header nav .nav-items .nav-links {
    display: none;
  }
  header nav .nav-items .nav-person {
    display: none;
  }
  .products .hero .buttons {
    display: none !important;
  }
  footer .big-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .big-div .footer-links {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
  }
  footer .big-div .footer-links .logo {
    margin-bottom: -30px;
  }
  footer .big-div .icons {
    margin-left: 0px;
    margin-top: 20px;
  }
  footer .big-div .tel {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.animation-class {
  transition: 0.2s linear;
  opacity: 100% !important;
  top: 80% !important;
  z-index: 10;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Rubik", sans-serif;
}

a {
  font-family: "Rubik", sans-serif;
}

p {
  font-family: "Rubik", sans-serif;
}

.on_off-sec {
  background: var(--main-bg-page, #fbf8ec);
}

.on_off {
  gap: 7px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.first-section {
  background: var(--main-bg-page, #fbf8ec);
}
.first-section .first-content {
  display: grid;
  grid-template-columns: 272px 272px 272px 272px;
  grid-template-rows: 200px 200px 200px 200px;
  gap: 40px;
}
.first-section .first-content .item {
  position: relative;
}
.first-section .first-content .item img {
  border-radius: 4px;
  background: var(--main-surface, #fff);
  /* Secondary / XS */
  box-shadow: 1px 2px 4px 0px rgba(112, 192, 91, 0.2);
}
.first-section .first-content .item h1 {
  display: flex;
  width: 272px;
  padding: 80px 10px 10px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  bottom: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: white;
  background: linear-gradient(180deg, rgba(112, 192, 91, 0) 0%, #70c05b 82.81%);
}
.first-section .first-content .item:first-child {
  grid-column: 1/3;
}
.first-section .first-content .item:first-child .odd {
  width: 584px;
}
.first-section .first-content .item:nth-child(10) {
  grid-column: 3/5;
}
.first-section .first-content .item:nth-child(10) .odd {
  width: 584px;
}
.first-section .first-content .item:nth-child(12) {
  grid-column: 2/4;
}
.first-section .first-content .item:nth-child(12) .odd {
  width: 584px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}/*# sourceMappingURL=style.css.map */