span {
  display: inline-block;
}
input {
  outline: none;
}
a {
  text-decoration: none;
  color: #22343d;
  font-weight: 400;
  &:hover {
    text-decoration: under line;
  }
}
li {
  list-style: none;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}
.flex-class {
  display: flex;
}
.grid-class {
  display: grid;
}
.selected {
  font-weight: 700;
  color: #22343d;
}
// main {
//   z-index: -1;
// }
